*~
*.ttc
*.ttm
*.o
*.d
*.a
*.dll

# Editor/IDE Related
.\#* # Emacs swap file
*~   # Vim swap file
*.swo
*.swp
# VS Code
.vscode/*

/build
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# beamer
*.nav
*.pre
*.snm
*.vrb

# minted
_minted*
*.pyg
